[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
click = "*"
python-dotenv = "*"
requests = "*"
inquirer = "*"

[dev-packages]

[requires]
python_version = "3.9"
